<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538888899624-3sfm9vmup81d7f7si1jph4kathc32u53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538888899624-3sfm9vmup81d7f7si1jph4kathc32u53</string>
	<key>API_KEY</key>
	<string>AIzaSyCwz3YRd2XJfHDfwMMVNMGxpz181A1jtsM</string>
	<key>GCM_SENDER_ID</key>
	<string>538888899624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.educationalApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-717f3</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-717f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538888899624:ios:d511fec335a862788ab91d</string>
</dict>
</plist>